@charset "utf-8";

@import "foundation/_reset";
@import "foundation/_conf";
@import "foundation/_base";

@import "foundation/_web_apps";

// ==========================================================================================
// WebApps
// ※ class名にAction_Prefixを使用する関係で、-ではなく_をトップレベルPrefixに使用する

// ========================================
// SCP-Search

.scp_search{

	&__wrapper{
		position: relative;
		min-height: 100%;
		text-align: center;
	}

	&__form {
		.hidden();
	}

	&__number-display{
		.card_mixin();
		.fz(24);
		padding: 20px;
		margin: 20px;
		background: @web-apps-blue-deep;
		//.hidden;
	}

	&__table {
		&-wrapper{
			width: 100%;
			position: absolute;
			bottom: 0;
		}
		width: 100%;
		border-collapse: separate;
		border-spacing: 5px;
		margin-top: 0;
		table-layout: fixed;
		&-tr{
			height: 60px;
		}
		&-th{

		}
		&-td{
			.button {
				.button_mixin();
				text-align: center;
				height: 60px;
				line-height: 60px;
				background: #C5C3C6;
				color: @njr_txt;
				&--go{
					color: @web-apps-white;
					background: @web-apps-blue;
				}
				&--clear{
					color: @web-apps-white;
					background: @web-apps-blue-deep;
				}
			}
		}
	}
}

// ========================================
// ikrScpEditor

body.ikr_scp_editor{
	//font-size: 0.8em;
}

.scp_editor {

	&__wrapper{
		position: relative;
		min-height: 100%;
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;

		.fz(12);
	}

	&__main{
		margin: 0 auto;
		max-width: 800px;
		text-align: left;

		// reset
		font-size: initial;
	}

	&__title{
		&--1{
			word-wrap: break-word;
		}
		&--2{
			//.fz(18px);
		}
	}

	&__preview{
		background: #fff;
		width: 100%;
		height: 320px;

		color: #333;
		font-family: verdana,arial,helvetica,sans-serif;
		font-size: 0.80em;
		line-height: 141%;

		letter-spacing: initial;

		// user resize
		overflow: auto;
		resize: vertical;

		p {
			margin: 1em 0;
			line-height: 141%;
		}
		a {
			color: #b01;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		h1,h2,h3,h4,h5{
			line-height: initial;
			height: auto;
			font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
		}
		h2,h3,h4,h5{
			margin: 0.5em 0 0.4em;
			padding: 0;
			letter-spacing: 1px;
		}
		h1{
			margin: .7em 0 .6em 0;
			padding: 0;
			font-weight: bold;
			font-size: 190%;
			color: #901;
		}
		h2{
			font-weight: normal;
			font-size: 150%;

			// 打ち消し
			color: #333;
		}
		h3{
			font-weight: bold;
			font-size: 130%;
		}
		h4{
			font-weight: bold;
			font-size: 120%;
		}
		h5{
			font-weight: bold;
			font-size: 100%;
		}
		blockquote {
			border: 1px dashed #999;
			padding: 0 1em;
			background-color: #f4f4f4;
			margin: 1em 40px;
		}
		hr{
			margin: 1em 2em;
			padding: 0;
			height: 1px;
			border: none;
			color: #DDD;
			background-color: #AAA;
		}
		ul,ol {
			margin: 1em 0;
			padding-left: 40px;
			li{
				line-height: 141%;
			}
			ul,ol{
				margin: 0;
				li{
					line-height: 141%;
				}
			}
		}
		ul{list-style: square;}
		ol{list-style: decimal;}
		tt {
			font-family: 'Andale Mono', 'Courier New', Courier, monospace;
			font-size: 98%;
		}
		sup{
			vertical-align: super;
			font-size: smaller;
		}
		sub{
			vertical-align: sub;
			font-size: smaller;
		}

		// VoteBox
		.page-rate-widget-box {
			display: inline-block;
			border-radius: 5px;
			box-shadow: 1px 1px 3px rgba(0,0,0,.5);
			margin-bottom: 10px;
			margin-right: 2em;
			a {
				text-decoration: none;
				color: #000;
				background-color: #DDD;
				padding: 0 5px;
			}
			.rate-points {
				color: #FFF;
				font-weight: bold;
				padding: 0 10px;
				background-color: #633;
				border: solid 1px #633;
				border-right: 0;
				border-radius: 5px 0 0 5px;
			}
			.rateup,
			.ratedown {
				background-color: #fff6f0;
				border-top: solid 1px #633;
				border-bottom: solid 1px #633;
				font-weight: bold;
				a {
					background: transparent;
					color: #633;
					padding: 0 4px;
					margin: 0 1px;
				}
			}
			.cancel {
				background-color: #633;
				border: solid 1px #633;
				border-left: 0;
				border-radius: 0 5px 5px 0;
				a {
					background: transparent;
					text-transform: uppercase;
					color: #966;
				}
			}
		}
	}

	&__textarea{
		// wikidot
		font-family: verdana,arial,helvetica,sans-serif;
		padding: 2px;
		//font-size: 100%;
		border: 1px solid #777;
		background-color: #FFF;
		color: #000;

		// user resize
		overflow: auto;
		resize: vertical;

		// original
		cursor: text;
		white-space: pre-wrap;
		word-wrap: break-word;
		width: 100%;
		height: 320px;
		.fz(12);

		//node
		div{
			margin: 0;
		}
	}

	&__debug{
		.fz(10);
	}
}

// ==========================================================================
// SP
// ==========================================================================

@media screen and (max-width:768px){

	.scp_editor {

		&__title{
			&--1{
				text-align: left;
				.fz(40);
				word-wrap: break-word;
			}
			&--2{
				.fz(30);
			}
		}
	}

}